@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Gilroy-Regular"), 
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Gilroy-Medium"), 
    url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Semibold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Gilroy-Semibold"), 
    url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../fonts/Gilroy-Semibold.woff") format("woff");
}

