* {
  font-family: "Gilroy", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}
.container {
  //max-width: 1110px;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 35px;
}
.title {
  text-align: center;
  font-family: "Noto Serif", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #333;
  margin-top: 15px;
  margin-bottom: 60px;
}
.subtitle {
  @extend %gilroy-400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333;
}
.header-page {
  background: #333;
  .header-nav {
    padding: 27px 0 31px;
  }
}
.breadcrumbs {
  //background: yellowgreen;
  padding: 60px 0 27px;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item + .breadcrumbs__item {
    margin-left: 39px;
  }
  &__item {
    position: relative;
    &::after {
      position: absolute;
      content: "/";
      @extend %gilroy-400;
      font-size: 16px;
      line-height: 150%;
      color: #333;
      right: -23px;
    }
    &:last-child{
      &::after{
        content: none;
      }
    }
  }
  &__link {
    @extend %gilroy-400;
    font-size: 14px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #333;
  }
  &__link--active {
    text-decoration: none;
  }
}
