@media (max-width: 768px) {
  .header-nav {
    &__link {
      display: none;
    }
    &__account-links {
      display: none;
    }
    &__menu-btn {
      display: block;
      width: 34px;
      height: 30px;
      position: relative;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      overflow: hidden;
    }
    &__menu-btn span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }
    &__menu-btn span:nth-child(1) {
      top: 0px;
    }
    &__menu-btn span:nth-child(2) {
      top: 12px;
      width: 21px;
    }
    &__menu-btn span:nth-child(3) {
      bottom: 0;
    }
    &__menu-btn.open span:nth-child(1) {
      top: 13px;
      transform: rotate(135deg);
    }
    &__menu-btn.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
    &__menu-btn.open span:nth-child(3) {
      top: 13px;
      transform: rotate(-135deg);
    }
  }
  .second-screen {
    padding: 70px 0;
    &__list {
      flex-wrap: wrap;
      gap: 20px;
    }
    &__list-item + .second-screen__list-item {
      margin-left: 0px;
    }
    &__category-item {
      width: 324px;
    }
    &__category-images {
      width: 324px;
    }
  }
  .our-salon {
    padding: 70px 0;
  }
  .blog {
    padding: 60px 0;
    &__item {
      width: 679px;
      height: 370px;
    }
    &__item-images {
      opacity: 1;
      width: 679px;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      height: 370px;
    }
    .blog__item-text {
      font-size: 29px;
      bottom: 50%;
    }
  }
  .gallery {
    padding: 60px 0px;
  }
  .subscribe {
    padding: 80px 0;
  }
  .footer {
    padding: 60px 0 20px;
  }
  .footer-info {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .product {
    padding: 60px 0;
  }
  .product-filter {
    &__form {
      flex-direction: column;
      row-gap: 20px;
    }
  }
  .product-inner {
    row-gap: 30px;
  }
  .product-card {
    width: 330px;
    &__images {
      width: 258px;
    }
  }
  .product-info {
    padding: 60px 0;
    &__content {
      max-width: 250px;
      margin-left: 25px;
    }
  }
}
@media (max-width: 375px) {
  .header {
    &__title {
      font-size: 36px;
      line-height: 49px;
    }
    &__btn {
      margin: 50px auto 119px;
    }
  }
  //.header-inner {
  //  height: 100vh;
  //}
  .header-brands {
    display: none;
  }
  .subtitle {
    font-size: 18px;
  }
  .title {
    font-size: 24px;
    line-height: 33px;
  }
  .second-screen {
    padding: 80px 0;
    &__list-link {
      width: 285px;
      &:after {
        width: 285px;
      }
    }
    &__category-item {
      width: 300px;
    }
    &__category-images {
      width: 300px;
    }
  }
  .our-salon {
    &__text {
      font-size: 17px;
      margin: 0 auto 50px;
    }
  }
  .blog {
    &__item {
      width: 300px;
    }
    &__item-images {
      width: 300px;
    }
    &__item-text {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .gallery {
    &__inner {
      margin-left: -35px;
      margin-right: -35px;
    }
  }
  .subscribe {
    padding: 60px 0;
    &__inner {
      flex-direction: column;
      row-gap: 20px;
    }
    &__label {
      flex-direction: column;
    }
    &__input {
      margin: 0 auto 15px;
      max-width: 100%;
      width: 100%;
    }
  }
  .footer-bottom {
    flex-wrap: wrap;
  }
  .product-filter {
    &__label {
      width: 100%;
    }
    .jq-selectbox {
      width: 100%;
    }
  }
  .product-card {
    width: 295px;
    &__images{
      width: 230px;
    }
  }
  .product-info{
    &__inner{
      flex-direction: column;
      row-gap: 60px;
    }
  }
}
