%gilroy-400 {
  font-family: "Gilroy-Regular, sans-serif";
  font-style: normal;
  font-weight: 400;
}
%gilroy-500 {
  font-family: "Gilroy-Regular, sans-serif";
  font-style: normal;
  font-weight: 500;
}
%gilroy-600 {
  font-family: "Gilroy-Regular, sans-serif";
  font-style: normal;
  font-weight: 600;
}